.header{
	background-color: grey;
	height: 170px;
	width: 100%;
}
nav {
	background-color: rgba(0, 0, 0, 0.65);
	padding: 5px;
	margin: 26px;
}
a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.71);

}